{%extends "base.html"%}
{%block content%}
<div class="container">
        <h1>登录</h1>
         <form action="" method="post" name="login">
            {{form.hidden_tag()}}
            <p>
                    <h3>请输入你的用户名：</h3>
                    {{form.username(size=80)}}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}<br>
            </p>
            <p>
                    <h3>请输入你的密码：</h3>
                    {{form.password(size=80)}}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}<br>
            </p>
            <p>{{form.remember_me}} 记住我</p>
            <p><input type="submit" value = "Sign In"></p>
        </form> 
                
</div> <!-- /container -->

{%endblock%}