{%extends "base.html"%}
{%block title%}{{post.title}}{% endblock %}
{%block body%}
<div class="row">
    <div class = "col-lg-6">
        <p>Author: <a href="{{url_for('home')}}">{{post.user.username}}</a>  on {{post.publish_date}}</p>
    </div>
    <div class = "row">
            <div class = "col-lg-12">
                {{post.text|safe}}
            </div>
    </div>
    {%if g.current_user==post.user%}
    <div class="row">
        <div class="col-lg-2">
            <a href="{{url_for('edit_post',id = post.id)}}" class="btn btn-primary">编辑</a>
        </div>
    </div>
    {%endif%}
</div>
{%endblock%}